/* FONTS TYPE AND SIZE */

@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');    
@import url('https://fonts.googleapis.com/css2?family=Armata&display=swap');

h1 {
    font-family: Armata;
    margin: 0 0 5%;
}
h2 {
    font-family: Armata;
    margin: 0 0 2% ;

}

.card {
  display: flex ;
  height: 100%;
}

.m-cantoneira {
  font-size: 0.7rem;
  color: #2e4e88;
  background-color: rgba(0, 123, 255, 0.25);
}

.m-tambor {
  font-size: 0.7rem;
  background-color: rgba(0, 255, 17, 0.25);

}

/*----------------
HERO
-----------------*/
.hero {
  display: flex;
  align-items: center;
  height: 90dvh;
  background-image: url(img/hero/pexels-scott-webb-1544944.jpg);
  background-size: cover;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bgHero {
  background-color: rgb(255, 255, 255, 0.9);
  mix-blend-mode: normal;
  border-radius: 10px;
  color: var(--accent-contrast);
}


.card-carousel {
    margin: 10px;
    width: 300px;
  }

.location{
    font-size: 0.8rem;
}

/*--------
NAV
*/
